body{
    font-family: Helvetica;
    background-color: #88eadd;
    text-align: center;
}
p{
    border-style: double;
}
ul{
    list-style-type: circle;
}
ul li{
    background: #e4e7d0;
}
h1{
    text-decoration: underline;
    text-shadow: 5px 5px magenta;
    letter-spacing: 10px;
    background-color: rgba(255,255,0,0.15)
}
a:hover{
    color: yellow;
}
a:active{
    color:
}
.extreme{
    width: 300px;
    margin: auto;
    margin-top: 50px;
}
.content{
    background-color: #C11FF0;
    margin: auto;
    width: 700px;
    text-align: center;
}
#head1{
    width: 250px;
    margin: auto;
}
#tehlulz{
    background: #E5B2F5;
}
.navzone{
    text-align: center;
    padding: 20px;
    width: 200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: white;
}
.prose{
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 40px;
}