h1{
    text-align: center;
    letter-spacing: 12px;
    animation: example 1s linear infinite;
    cursor: col-resize;
    color: white;
}
h2{
    transform: rotate(7deg);
}
@keyframes example { 
    0%   {background-color: #EACBD2;}
    25%  {background-color: #DFAEB4;}
    50%  {background-color: #DD9AC2;}
    100% {background-color: #B486AB;}
}
body{
    background-color: #e9e16a;
    text-align: center;
}
ul{
    list-style-type: square;
    list-style-position: inside;
    text-align: center;
}
li{
    width: 200px;
    margin: 0 auto;
}
.extreme{
    background-color: #E7ECF0;
    width: 500px;
    margin: auto;
    border: 3px solid lightsteelblue;
    margin-bottom: 100px;
    margin-top: 50px;
}
.content{
    background-color: #3179BD;
    margin: auto;
    width: 700px;
    text-align: center;
    padding-top: 30px;
    margin-top: 70px;
}
#head1{
    background-color: white;
    width: 400px;
    margin: auto;
}
#tehlulz{
    border-color: red;
}
.navzone{
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    width: 250px;
    margin: auto;
    border: 5px solid black;
}
.prose{
    background-color: white;
    padding: 50px;
}
p {
    border-style:groove;
    font-family: Arial;
    background-color: white;
    margin: auto;
    width: 600px;
}
a:hover {
    color:  #91e8c5;
}
a:active{
    color:  #df6796
}
a:link{
    background-color: white;
    padding: 1px 5px;
    border-style: outset;
    border-color: blue;
}
