h1{
    color:   #242421 ;
    text-align: center;
}
body{
    background-color: #e9e16a;
}
ul{
    list-style-type: square;
}
.extreme{
    background-color: goldenrod;
}
.content{
    background-color: lightsteelblue;
}
.prose{
    background-color: green;
}
p {
    border-style:groove;
    font-family: Arial;
    background-color: white;
}
a:hover {
    color:  #91e8c5;
}
a:active{
    color:  #df6796
}
a:link{
    background-color: white;
    padding: 2px 10px;
}
