h1{
    color:   #242421 ;
    text-align: center;
}
body{
    background-color: #e9e16a;
}
ul{
    list-style-type: square;
    list-style-position: inside;
    text-align: center;
}
li{
    background: lightsteelblue;
    width: 200px;
    margin: 0 auto;
}
.extreme{
    background-color: #E7ECF0;
    width: 300px;
    margin: auto;
    border: 3px solid lightsteelblue;
}
.content{
    background-color: #3179BD;
    margin: auto;
    width: 700px;
    text-align: center;
}
#head1{
    background-color: white;
    width: 250px;
    margin: auto;
}
#tehlulz{
    background: white;
}
.navzone{
    text-align: center;
    width: 500px;
    margin: auto;
    background-color: #5FACF4;
}
.prose{
    background-color: white;
}
p {
    border-style:groove;
    font-family: Arial;
    background-color: white;
    margin: auto;
    width: 600px;
}
a:hover {
    color:  #91e8c5;
}
a:active{
    color:  #df6796
}
a:link{
    background-color: white;
    padding: 2px 10px;
}
